**/.config/**/colors.conf
**/.config/**/colors.css
**/.config/**/colors.rasi
**/.config/**/colors.ini
**/.config/**/colors.lua
**/.config/**/colors.json
**/.config/**/colors.toml
**/.config/**/colors.xml
**/.config/**/colors.yaml
**/.config/**/colors.yml
**/.config/**/colors.txt
**/.config/**/colors.json5
**/.config/**/colors.jsonc
**/btop/themes/colors.theme

!**/matugen/**/templates/**
**/__pycache__/

*.log
errors.log
.ssh
.DS_Store
.directory
*.swp
*.swo
*~

# Python Virtual Environments
.venv/
venv/

# Backups
setup/backup/
backup/

# Island Companion runtime stats
**/stats.json
