*/.config/**/colors.conf
*/.config/**/colors.css
*/.config/**/colors.rasi
*/.config/**/color.ini

*/btop/themes/colors.theme

!*/matugen/.config/matugen/templates/**
!*/matugen/.config/matugen/templates/**.*

*.log
errors.log
.ssh
.DS_Store
.directory
*.swp
*.swo
*~
